.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  display: grid;          // convert the 'realtors' Grid item into a Grid container
  grid-row-gap: 2rem;
  justify-content: center;// align entire tracks horizontally relative to its parent container(df:'start')
  align-content: center;  // align entire tracks vertically relative to its parent container (df: 'start')
  justify-items: center;  // align all its Grid items horizontally inside their Grid area (1 grid cell)

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;  // realtors to fill up the entire row
  }

  &__list {
    display: grid;       // Grid container
    grid-template-columns: min-content max-content; // col1: min-content, col2: max-content 
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;    // Spacing to change whenever we change the height of the viewport
    align-items: center;  // align all its Grid items vertically inside their Grid area (1 grid cell)

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);// place Realtors items side by side
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;   // place Realtors items top to bottom
    }
  }

  &__img {
    display: block;       // always best to display images as block
    width: 7rem;
    border-radius: 50%;
    transition: all .2s;

    &:hover {
      transform: scale(1.05);
      border: 2px solid $color-primary;
    }
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;     // move it up a little  (another option: use a transformY)
  }
}