.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1; // sidebar to span multiple rows: from the beginning to the end of the Grid
  grid-column: sidebar-start / sidebar-end;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-row: 1 / span 1;      // 1 row
    grid-column: 1 / -1;       // all columns

    justify-content: flex-end; // place its flex items (nav__btn) on the main axis (X axis)
    align-items: center;       // place its flex items (nav__btn) on the cross axis (Y axis)
  }
}

.nav__btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; 

  &::before, &::after {
    content: "";                  // to make them visible
    display: block;

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
  }

  &::before {
    transform: translateY(-1.5rem); // move it up
  }

  &::after {
    transform: translateY(1.3rem); // move it down
  }

  &:focus {
    outline: none;
  } 

  @media only screen and (max-width: $bp-large) {
    margin-top: 0; 
    margin-right: 3rem;

    &::before {
      transform: translateY(-1.2rem); // move it up
    }
  
    &::after {
      transform: translateY(1.0rem); // move it down
    }
  }
}